.comment_area {
  float: left;
  width: 800px;
  height: 100%;
  padding: 85px 70px 22px 0;
}

.comment_area .creator_note {
  margin-bottom: 34px;
  padding-bottom: 29px;
  border-bottom: 1px solid #ebebeb;
}

.comment_area .creator_note h2 {
  font-size: 22px;
  line-height: 24px;
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
  font-weight: 400;
}

.comment_area .creator_note h2 span {
  margin-left: 4px;
  font-size: 17px;
  color: #afafaf;
}

.comment_area .creator_note p {
  margin-top: 9px;
  font-size: 15px;
  line-height: 21px;
  color: #5f5f5f;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment_lst {
  margin-top: 3px;
  font-size: 15px;
}

.comment_lst li {
  padding: 12px 0 11px;
  border-bottom: 1px solid #dbdbdb;
}

.comment_lst .wrt_name {
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

.comment_lst .wrt_date {
  margin-left: 10px;
  font-size: 13px;
  color: #898989;
}

.comment_lst li .comment_tx {
  margin: 1px 0;
  font-size: 15px;
  line-height: 21px;
  color: #5f5f5f;
  word-break: keep-all;
  word-wrap: break-word;
}

.comment_lst li .comment_tx .input_tx {
  float: none;
  width: 702px;
  height: 42px;
  margin-top: 6px;
  padding: 14px 17px 12px;
  line-height: 19px;
  color: #5f5f5f;
}

.comment_lst .wrt_info {
  position: relative;
}

.comment_lst .writer_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.comment_lst .btn_modify {
  margin: 3px 8px 0 0;
}

.comment_lst .btn_delete3 {
  margin: 4px 11px 0 0;
}

.comment_lst .sub_btn {
  height: 24px;
  margin: 0 3px -7px 0;
  background: #fff;
  text-align: right;
}

.comment_lst .sub_btn a {
  font-size: 12px;
  color: #9e9e9e;
}

.comment_lst .sub_btn .bar {
  height: 10px;
  margin: 5px 6px 0 7px;
  color: #ebebeb;
}

.comment_area .paginate {
  margin: 17px 0 100px;
}

.my_comments_wrap {
  position: relative;
  width: 1110px;
  margin: 76px auto 152px;
}

.my_comments {
  padding: 14px 60px 18px;
  background: #fff;
}

.my_comments .my_cbox_title {
  margin: 13px 0 9px;
  line-height: 21px;
}

.my_comments .my_cbox_title a {
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
  font-size: 19px;
}

.my_comments .my_cbox_title a:hover {
  color: #00dc64;
}

.my_comments .my_cbox_title .bar {
  margin: 1px 9px 0;
  height: 14px;
  background: #ccc;
}

.my_comments .my_cbox_title .ellipsis {
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
}

.my_comments .my_cbox_title .sub_num {
  margin-left: 8px;
}

.my_comments .my_cbox_title .btn_del {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 86px;
  height: 30px;
  line-height: 32px;
  background: #ececec;
  border: 1px solid #e5e5e5;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  color: #595959 !important;
}

.my_comments .u_cbox .u_cbox_list li:last-child .u_cbox_comment_box {
  border-bottom: none;
}

.my_comments .u_cbox .u_cbox_comment_box {
  padding: 17px 5px 29px;
}

.my_comments .u_cbox .u_cbox_paginate {
  position: absolute;
  bottom: -92px;
  left: 0;
  width: 100%;
}

.my_comments .u_cbox .u_cbox_reply_area .u_cbox_comment_box .u_cbox_area {
  padding: 17px 5px 17px 40px;
}

.my_comments .u_cbox .u_cbox_reply_area .u_cbox_paginate {
  position: static;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 11px;
}

.my_comments
  .u_cbox
  .u_cbox_reply_area
  .u_cbox_list
  li:last-child
  .u_cbox_comment_box {
  border-bottom: 1px solid #e2e2e2;
}

.my_comments .u_cbox .u_cbox_ico_reply {
  left: 26px;
}

.my_comments .u_cbox .u_cbox_comment_box.dimmed .my_cbox_title a,
.my_comments .u_cbox .u_cbox_comment_box.dimmed .u_cbox_date,
.my_comments .u_cbox .u_cbox_comment_box.dimmed .u_cbox_text_wrap {
  color: #bebebe;
}

.u_cbox {
  position: relative;
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: none;
}

.u_cbox a,
.u_cbox a:link {
  background-color: transparent;
}

.u_cbox .u_vc {
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: transparent;
  line-height: 1px;
}

.u_cbox .u_vh {
  visibility: hidden;
}

.u_cbox,
.u_cbox p,
.u_cbox h1,
.u_cbox h2,
.u_cboxh3,
.u_cbox h4,
.u_cbox h5,
.u_cbox h6,
.u_cbox ul,
.u_cbox ol,
.u_cbox li,
.u_cbox dl,
.u_cbox dt,
.u_cbox dd,
.u_cbox table,
.u_cbox th,
.u_cbox td,
.u_cbox form,
.u_cbox fieldset,
.u_cbox legend,
.u_cbox input,
.u_cbox textarea,
.u_cbox button,
.u_cbox select {
  margin: 0;
  padding: 0;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
}

.u_cbox,
.u_cbox input,
.u_cbox textarea,
.u_cbox select,
.u_cbox button,
.u_cbox table {
  font-size: 12px;
  line-height: 1.25em;
}

.u_cbox img,
.u_cbox fieldset {
  border: 0;
}

.u_cbox ul,
.u_cbox ol {
  list-style: none;
}

.u_cbox em,
.u_cbox address {
  font-style: normal;
}

.u_cbox a {
  color: #000;
  text-decoration: none;
}

.u_cbox table {
  border-collapse: collapse;
}

.u_cbox hr {
  display: none !important;
}

.u_cbox b,
.u_cbox strong {
  font-weight: 400;
}

.u_cbox button,
.u_cbox label,
.u_cbox input[type="checkbox"],
.u_cbox input[type="radio"],
.u_cbox input[type="button"] {
  cursor: pointer;
}

.u_cbox .u_cbox_comment .u_cbox_ico_best,
.u_cbox .u_cbox_comment .u_cbox_ico_top,
.u_cbox .u_cbox_ico_reply,
.u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm,
.u_cbox .u_cbox_recomm_set .u_cbox_ico_unrecomm,
.u_cbox .u_cbox_paginate .u_cbox_more_wrap .u_cbox_ico_more,
.u_cbox .u_cbox_paginate .u_cbox_ico_page,
.u_cbox .u_cbox_ico_editor,
.u_cbox .u_cbox_tool .u_cbox_btn_reply,
.u_cbox .u_cbox_tool .u_cbox_btn_reply_on,
.u_cbox .u_cbox_paginate strong.u_cbox_page,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_edit,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_delete,
.u_cbox .u_cbox_edit .u_cbox_upload .u_cbox_btn_upload,
.u_cbox_ico_select,
.u_cbox .u_cbox_con_inform .u_cbox_ico_comment_none {
  background-image: url(https://webtoons-static.pstatic.net/image/pc/sp_comment_v3.png?dt=2020072401);
  background-repeat: no-repeat;
}

.u_cbox .u_cbox_paginate span.u_cbox_pre,
.u_cbox .u_cbox_paginate span.u_cbox_next {
  display: none;
}

.u_cbox .u_cbox_head {
  height: 35px;
  *zoom: 1;
}

.u_cbox .u_cbox_head:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_title {
  float: left;
  margin-top: -1px;
  font-size: 22px;
  line-height: 24px;
  font-family: hind_m, simhei;
  font-weight: 400;
}

.u_cbox .u_cbox_count {
  overflow: hidden;
  float: left;
  margin-left: 5px;
  font-size: 15px;
  color: #9e9e9e;
  line-height: 22px;
  letter-spacing: 1px;
}

.u_cbox .u_cbox_btn_refresh {
  display: none;
}

.u_cbox .u_cbox_ico_bar {
  position: absolute;
  left: 0;
  top: 17px;
  width: 1px;
  height: 21px;
  background: #ebebeb;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
}

.u_cbox .u_cbox_write_box {
  position: relative;
}

.u_cbox .u_cbox_thumb .u_cbox_thumb_wrap {
  display: block;
  position: relative;
}

.u_cbox .u_cbox_thumb .u_cbox_img_profile {
  width: 25px;
  height: 25px;
  vertical-align: top;
}

.u_cbox .u_cbox_thumb .u_cbox_thumb_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 0 0;
}

.u_cbox .u_cbox_write {
  position: relative;
  *zoom: 1;
}

.u_cbox .u_cbox_write:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_write .u_cbox_write_inner {
  position: relative;
}

.u_cbox .u_cbox_write .u_cbox_write_inner .u_cbox_thumb {
  display: none;
}

.u_cbox .u_cbox_write .u_cbox_write_area {
  overflow: hidden;
  margin-right: 93px;
}

.u_cbox .u_cbox_write .u_cbox_inbox {
  position: relative;
  padding-left: 17px;
  height: 76px;
  background-color: #ececec;
  *zoom: 1;
}

.u_cbox .u_cbox_write .u_cbox_inbox:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_text {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  height: 54px;
  padding: 11px 0;
  margin: 0;
  border: none;
  color: #333;
  background-color: #ececec;
  font-size: 15px;
  line-height: 18px;
  -webkit-appearance: none;
  vertical-align: top;
  resize: none;
}

.u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_guide {
  overflow: hidden;
  position: absolute;
  top: 18px;
  left: 22px;
  z-index: 10;
  border: none;
  font-size: 15px;
  color: #bbbcbf;
  line-height: 17px;
  cursor: default;
}

.u_cbox .u_cbox_profile .u_cbox_write_name {
  font-weight: 700;
}

.u_cbox .u_cbox_profile_area,
.u_cbox .u_cbox_social_login_area {
  display: none;
}

.u_cbox .u_cbox_social_login_area:after {
  display: table;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_type_logged_in .u_cbox_social {
  position: absolute;
  top: 11px;
  right: 17px;
}

.u_cbox .u_cbox_box_name .u_cbox_btn_social {
  margin-right: 4px;
}

.u_cbox .u_cbox_write_count {
  margin: 6px 2px 0 0;
  font-size: 12px;
  color: #9e9e9e;
  text-align: right;
  z-index: 100;
}

.u_cbox .u_cbox_btn_upload {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 93px;
  height: 76px;
  background: #bbbcbf;
  font-size: 15px;
  color: #fff;
}

.u_cbox .u_cbox_edit {
  position: relative;
  *zoom: 1;
}

.u_cbox .u_cbox_edit:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_edit .u_cbox_write_area {
  margin: 0;
}

.u_cbox .u_cbox_edit .u_cbox_write_count {
  display: none;
}

.u_cbox .u_cbox_edit .u_cbox_upload {
  float: right;
  padding: 13px 3px 7px 0;
}

.u_cbox .u_cbox_edit .u_cbox_upload .u_cbox_btn_cancel {
  display: inline-block;
  float: left;
  border: none;
  background: 0 0;
  font-size: 13px;
  line-height: 15px;
  color: #9e9e9e;
}

.u_cbox .u_cbox_edit .u_cbox_upload .u_cbox_btn_upload {
  position: static;
  display: inline-block;
  float: left;
  width: auto;
  height: auto;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  background-color: #fff;
  background-position: 0 -160px;
  font-size: 13px;
  line-height: 15px;
  color: #9e9e9e !important;
}

.u_cbox .u_cbox_focus .u_cbox_inbox .u_cbox_text,
.u_cbox .u_cbox_writing .u_cbox_inbox .u_cbox_text {
  z-index: 20;
}

.u_cbox .u_cbox_focus .u_cbox_inbox .u_cbox_guide {
  color: #ccc;
}

.u_cbox .u_cbox_writing .u_cbox_inbox .u_cbox_guide {
  display: none;
}

.u_cbox .u_cbox_head .u_cbox_head_tools {
  display: none;
}

.u_cbox .u_cbox_comment_none {
  padding: 120px 0;
  font-size: 16px;
  line-height: 20px;
  color: #aaa;
  text-align: center;
}

.u_cbox .u_cbox_con_inform .u_cbox_ico_comment_none {
  display: block;
  width: 57px;
  height: 52px;
  background-position: 0 -390px;
  margin: 0 auto 19px;
}

.u_cbox .u_cbox_comment_box {
  position: relative;
  padding: 17px 0 15px;
  border-bottom: 1px solid #e2e2e2;
}

.u_cbox .u_cbox_comment_box .u_cbox_info {
  padding-bottom: 5px;
  *zoom: 1;
}

.u_cbox .u_cbox_comment_box .u_cbox_info:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_name {
  display: inline-block;
  float: left;
  overflow: hidden;
  max-width: 55%;
  font-size: 16px;
  font-family: hind_m, simhei;
  color: #2a2a2a;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.u_cbox .u_cbox_ico_editor {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1px 0 5px;
  width: 60px;
  height: 15px;
  background-position: 0 -300px;
  line-height: 999px;
  vertical-align: top;
}

.u_cbox .u_cbox_ico_editor .u_cbox_txt_editor {
  display: block;
  display: none;
  overflow: hidden;
  margin: 0 -1px 0 -2px;
  height: 14px;
  letter-spacing: -1px;
  line-height: 16px;
}

.u_cbox .u_cbox_ico_editor .u_cbox_bg_editor_l {
  display: none;
  position: absolute;
  left: -8px;
  top: -1px;
  z-index: -1;
  width: 8px;
  height: 16px;
  background-position: -151px 0;
}

.u_cbox .u_cbox_ico_editor .u_cbox_bg_editor_r {
  display: none;
  position: absolute;
  right: -9px;
  top: -1px;
  z-index: -1;
  width: 9px;
  height: 16px;
  background-position: -163px 0;
}

.u_cbox .u_cbox_sns_icons {
  display: none;
}

.u_cbox .u_cbox_info_base {
  position: relative;
  padding: 4px 0 0 0;
}

.u_cbox .u_cbox_info_base:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_btn_report {
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 13px;
}

.u_cbox .u_cbox_btn_report .u_cbox_ico_bar {
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
  left: auto;
  height: 10px;
  margin: 0 9px 0 10px;
  vertical-align: top;
}

.u_cbox .u_cbox_btn_report .u_cbox_ico_report {
  display: none;
}

.u_cbox .u_cbox_date {
  display: inline-block;
  float: left;
  font-size: 13px;
  color: #999;
}

.u_cbox .u_cbox_pic {
  display: none;
}

.u_cbox .u_cbox_comment .u_cbox_text_wrap {
  overflow: hidden;
  font-size: 15px;
  line-height: 21px;
  color: #5f5f5f;
  word-break: break-word;
  word-wrap: break-word;
  *zoom: 1;
}

.u_cbox .u_cbox_comment .u_cbox_text_wrap:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_comment .u_cbox_ico_best {
  display: inline-block;
  overflow: hidden;
  width: 36px;
  height: 15px;
  margin: 1px 5px 0 0;
  background-position: 0 -370px;
  line-height: 999px;
  vertical-align: top;
}

.en .u_cbox .u_cbox_comment .u_cbox_ico_best {
  width: 33px;
  background-position: -40px -370px;
}

.u_cbox .u_cbox_work_sub .u_cbox_btn_open {
  display: none;
}

.u_cbox .u_cbox_work_sub_on .u_cbox_work_box {
  display: block;
}

.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_edit,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_delete {
  position: absolute;
  overflow: hidden;
  line-height: 999px;
}

.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_edit {
  top: 15px;
  right: 32px;
  width: 10px;
  height: 10px;
  background-position: 0 -120px;
}

.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_delete {
  top: 16px;
  right: 11px;
  width: 9px;
  height: 9px;
  background-position: 0 -140px;
}

.u_cbox .u_cbox_tool {
  padding-top: 15px;
  *zoom: 1;
}

.u_cbox .u_cbox_tool:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_tool .u_cbox_btn_reply {
  float: left;
  overflow: hidden;
  position: relative;
  padding: 0 12px 0 0;
  margin-right: 4px;
  background-position: 100% -60px;
}

.u_cbox .u_cbox_tool .u_cbox_btn_reply_on {
  background-position: 100% -80px;
}

.u_cbox .u_cbox_tool .u_cbox_btn_reply .u_cbox_reply_txt {
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #898989;
  vertical-align: top;
}

.u_cbox .u_cbox_tool .u_cbox_btn_reply .u_cbox_reply_cnt {
  display: inline-block;
  float: left;
  padding-left: 5px;
  line-height: 15px;
  font-size: 13px;
  color: #898989;
  vertical-align: top;
}

.u_cbox .u_cbox_recomm_set {
  float: right;
  position: relative;
  bottom: -2px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm,
.u_cbox .u_cbox_recomm_set .u_cbox_btn_unrecomm {
  float: left;
  position: relative;
  min-width: 15px;
  height: 15px;
  background-color: #fff;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_unrecomm {
  margin-left: 17px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm,
.u_cbox .u_cbox_recomm_set .u_cbox_ico_unrecomm {
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  line-height: 999px;
  color: transparent;
  vertical-align: top;
}

.u_cbox .u_cbox_recomm_set .u_cbox_ico_recomm {
  margin-right: 3px;
  background-position: 100% -20px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_ico_unrecomm {
  margin-right: 3px;
  background-position: 0 -40px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_cnt_recomm,
.u_cbox .u_cbox_recomm_set .u_cbox_cnt_unrecomm {
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #bbbcbf;
  vertical-align: top;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm_on .u_cbox_ico_recomm {
  background-position: 0 -20px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_unrecomm_on .u_cbox_ico_unrecomm {
  background-position: 100% -40px;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_recomm_on .u_cbox_cnt_recomm {
  color: #00dc64;
}

.u_cbox .u_cbox_recomm_set .u_cbox_btn_unrecomm_on .u_cbox_cnt_unrecomm {
  color: #00dc64;
}

.u_cbox .u_cbox_ico_reply {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 7px;
  height: 7px;
  background-position: 0 -100px;
  text-indent: -9999px;
}

.u_cbox .u_cbox_reply_area .u_cbox_comment_box {
  padding: 0;
}

.u_cbox .u_cbox_reply_area .u_cbox_comment_box .u_cbox_area {
  padding: 17px 0 17px 33px;
}

.u_cbox .u_cbox_reply_area .u_cbox_work_sub {
  right: 12px;
}

.u_cbox .u_cbox_reply_area .u_cbox_name {
  max-width: 50%;
}

.u_cbox .u_cbox_reply_area .u_cbox_write_wrap {
  position: relative;
}

.u_cbox .u_cbox_reply_area .u_cbox_write_wrap .u_cbox_write_box {
  margin-top: 19px;
  padding: 0 0 16px 36px;
  border-bottom: 1px solid #e2e2e2;
}

.u_cbox .u_cbox_reply_area .u_cbox_write_wrap .u_cbox_ico_reply {
  top: 0;
}

.u_cbox .u_cbox_btn_fold {
  display: none;
}

.u_cbox .u_cbox_paginate {
  position: relative;
  text-align: center;
}

.u_cbox .u_cbox_page_wrap {
  display: inline-block;
  padding: 17px 0 8px;
}

.u_cbox .u_cbox_page_wrap:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_paginate .u_cbox_page {
  display: inline-block;
  float: left;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  line-height: 32px;
  vertical-align: top;
  letter-spacing: -1px;
  text-align: center;
  font-size: 15px;
  color: #070707;
}

.u_cbox .u_cbox_paginate strong.u_cbox_page {
  background-position: 0 -260px;
  color: #fff;
}

.u_cbox .u_cbox_paginate .u_cbox_cnt_page {
  display: none;
}

.u_cbox .u_cbox_paginate .u_cbox_ico_page {
  display: inline-block;
  overflow: hidden;
  width: 6px;
  height: 10px;
  margin-top: 9px;
  line-height: 999px;
  vertical-align: top;
  *cursor: pointer;
}

.u_cbox .u_cbox_paginate .u_cbox_pre,
.u_cbox .u_cbox_paginate .u_cbox_next {
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 25px;
  vertical-align: top;
}

.u_cbox .u_cbox_paginate .u_cbox_pre {
  padding: 0 7px;
  margin-right: 6px;
}

.u_cbox .u_cbox_paginate .u_cbox_next {
  padding: 0 7px;
  margin-left: 6px;
}

.u_cbox .u_cbox_paginate .u_cbox_pre .u_cbox_ico_page {
  background-position: 0 -220px;
  *margin-top: 0;
}

.u_cbox .u_cbox_paginate .u_cbox_next .u_cbox_ico_page {
  background-position: 0 -240px;
  *margin-top: 0;
}

.u_cbox .u_cbox_paginate .u_cbox_pre_end {
  margin-right: 16px;
}

.u_cbox .u_cbox_paginate .u_cbox_next_end {
  margin-left: 16px;
}

.u_cbox .u_cbox_paginate .u_cbox_pre_end .u_cbox_ico_page {
  background-position: -10px -220px;
  width: 10px;
}

.u_cbox .u_cbox_paginate .u_cbox_next_end .u_cbox_ico_page {
  background-position: -10px -240px;
  width: 10px;
}

.u_cbox .u_cbox_paginate .u_cbox_btn_more {
  display: block;
  padding: 13px 0 12px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  color: #898989;
  height: 22px;
  line-height: 24px;
  font-family: hind_m, simhei;
}

.u_cbox .u_cbox_paginate .u_cbox_more_wrap {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.u_cbox .u_cbox_paginate .u_cbox_more_wrap:after {
  display: table;
  content: "";
}

.u_cbox .u_cbox_paginate .u_cbox_more_wrap .u_cbox_page_more {
  float: left;
}

.u_cbox .u_cbox_paginate .u_cbox_more_wrap .u_cbox_ico_more {
  display: inline-block;
  width: 11px;
  height: 7px;
  margin: 7px 0 0 5px;
  background-position: 0 -320px;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.u_cbox .u_cbox_btn_top {
  display: none;
  position: absolute;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate {
  margin-bottom: -19px;
}

.u_cbox .u_cbox_reply_area .u_cbox_page_wrap {
  padding: 7px 0 5px;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_btn_more {
  padding: 12px 0 11px;
  border-bottom: 0 none;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_pre .u_cbox_ico_page {
  background-position: 0 -330px;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_next .u_cbox_ico_page {
  background-position: 0 -350px;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_pre_end .u_cbox_ico_page {
  background-position: -10px -330px;
  width: 10px;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_next_end .u_cbox_ico_page {
  background-position: -10px -350px;
  width: 10px;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate .u_cbox_page {
  color: #a0a0a0;
}

.u_cbox .u_cbox_reply_area .u_cbox_paginate strong.u_cbox_page {
  background: 0 0;
  color: #00dc64;
}

.u_cbox .u_cbox_sort {
  padding-bottom: 9px;
  border-bottom: 1px solid #e2e2e2;
  *zoom: 1;
  *height: 22px;
}

.u_cbox .u_cbox_sort:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_sort .u_cbox_sort_option {
  float: left;
  *zoom: 1;
}

.u_cbox .u_cbox_sort .u_cbox_sort_option_list:after {
  display: block;
  clear: both;
  content: "";
}

.u_cbox .u_cbox_sort .u_cbox_sort_option_wrap {
  float: left;
  *zoom: 1;
  margin-right: 24px;
}

.u_cbox .u_cbox_sort .u_cbox_select {
  display: inline-block;
  position: relative;
  padding-right: 2px;
  vertical-align: top;
}

.u_cbox .u_cbox_sort .u_cbox_sort_label {
  display: inline-block;
  font-size: 16px;
  font-family: hind_m, simhei;
  color: #a7a7ad;
  line-height: 22px;
}

.u_cbox .u_cbox_sort .u_cbox_ico_select {
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 12px;
  height: 11px;
  margin: 4px 5px 0 0;
  background-position: 0 -60px;
  font-size: 1px;
  line-height: 999px;
  color: transparent;
  vertical-align: top;
}

.u_cbox .u_cbox_sort .u_cbox_sort_option_on .u_cbox_sort_label {
  color: #00dc64;
}

.u_cbox .u_cbox_sort .u_cbox_sort_option_on .u_cbox_ico_select {
  background-position: 0 -80px;
}
